* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --firs-color: #2978B5;
    --secondary-color: #3D3A50;
    --input-color: #F2F2F2;
    --body-color: #FFFFFF;

    --text-color: #FFFFFF;

    --font-text: 'Poppins', sans-serif;

    --search: 18px;
    --date: 22px;
    --city: 32px;
    --temp: 80px;
    --weather: 32px;
    --hi-low: 26px;
}

body {
    font-family: var(--font-text);
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--body-color);
}

header {
    display: flex;
    align-items: center;
    height: 6em;
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
}

header input {
    width: 100%;
    max-width: 350px;
    max-height: 35px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: var(--input-color);
    border-radius: 5px;
    border-bottom: 3px solid var(--secondary-color);
    
    color: var(--secondary-color);
    font-family: var(--font-text);
    font-size: var(--search);
    transition: 0.2s ease-out;
}

header input:focus {
    border-bottom: 3px solid var(--firs-color);
}

h3 {
    font-size: 24px;
    color: var(--firs-color);
}

main {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card {
    width: 100%;
    max-width: clamp(250px, 50%, 350px);
    padding: 15px 15px;
    transition: 0.2s ease-out;
    border-radius: 15px;
    background: var(--firs-color);
}

.day {
    background: linear-gradient(180deg, #F6C47B 0%, #F2A084 100%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.night {
    background: linear-gradient(180deg, #464377 0%, #314F71 100%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.location .date {
    color: var(--text-color);
    font-size: var(--date);
}

.location .city {
    color: var(--text-color);
    font-size: var(--city);
    font-weight: 500;
    margin-bottom: 5px;
}


.current .icon {
    width: 150px;
    height: 150px;
    max-height: 100%;
    margin-bottom: -20px;
    filter: invert(1);
}

.current .temp {
    color: var(--text-color);
    font-size: var(--temp);
}

.current .weather {
    color: var(--text-color);
    font-size: var(--weather);
}

.current .hi-low {
    color: var(--text-color);
    font-size: var(--hi-low);
}

footer {
    width: 100%;
    height: 40px;
}

footer button {
    background: none;
    border: none;
    margin-left: 15px;
}

footer i {
    font-size: var(--hi-low);
    color: var(--secondary-color);
}

footer button:hover i {
    color: var(--firs-color);
}

@media screen and (max-width: 460px) {
    header {
        flex-direction: column;
    }

    .card {
        margin-top: 20px;
    }
}

@media screen and (max-width: 650px) {
    :root {
        --search: 16px;
        --date: 16px;
        --city: 26px;
        --temp: 60px;
        --weather: 28px;
        --hi-low: 22px;
    }
}

@media screen and (min-width:600px) and (max-width:950px) and (orientation:landscape){
    :root {
        --search: 14px;
        --date: 18px;
        --city: 26px;
        --temp: 60px;
        --weather: 26px;
        --hi-low: 20px;
    }

    .card {
        max-width: clamp(400px, 100%, 600px);
        height: 250px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .temp {
        margin-left: -600px;
        margin-top: -40px;
    }
    .weather {
        margin-top: -40px;
    }
}